@{
    ViewData["Title"] = "Home Page";
}

<form action="/ArrayOnObject" method="post">
  <label></label><input type="text" name="Tags" value=""/>
  <input type="text" name="Ints" value="1,2,3,4,4,5,6,3,2,21,1"/>
  <input type="submit" value="Submit"/>
</form>